<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
  <div id="tools">
    <a title="Click to register" href="/account/register">Register</a>
    <a title="Click to log in" href="/account/login">Login</a>
    <a title="Click to manage your account" href="/account/management">Management</a>
    <a title="Click to update" href="/account/update">Update</a>
    <li><a title="Click to view inventory" href="/inventory/inventory-display">View Inventory</a></li>
    <li><a title="Click to manage inventory" href="/inventory/management">Vehicle Management</a></li>
  </div>
</header>