<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/inventory/inventory-display">Displaying New Cars</a></li>
    <li><a href="/inventory/classification/1">Custom</a></li>
    <li><a href="/inventory/classification/2">Sport</a></li>
    <li><a href="/inventory/classification/3">SUV</a></li>
    <li><a href="/inventory/classification/4">Truck</a></li>
    <li><a href="/inventory/classification/5">Sedan</a></li>
    <li><a href="/review/reviews/">Reviews</a></li>
  </ul>
</nav>
