<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <% classifications.forEach(function(classification) { %>
      <li><a href="/inventory/classification/<%= classification.classification_id %>"><%= classification.classification_name %></a></li>
    <% }); %>
    <li><a href="/inventory/management">New Cars</a></li>
  </ul>
</nav>
