<nav>
  <ul>
    <li><a href="/utilities/index.js">Home</a></li>
    <li><a href="/views/inventory/detail.ejs">Custom</a></li>
    <li><a href="/views/index.ejs">Sedan</a></li>
    <li><a href="/views/layouts/layout.ejs">Suv</a></li>
    <li><a href="/routes/inventory.js">Truck</a></li>
  </ul>
</nav>