<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form action="/account/login" method="POST">
            <div class="form-group">
                <label for="email">Email:</label>

                <input type="text" id="email" name="account_email" required>
                <input type="password" id="password" name="account_password" required>
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</body>
</html>
