<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <h1>Felix Samuel Guzman Ceri</h1>
    <div id="wrapper"> 
      <main>
        <div class="hero">
          <img src="/images/vehicles/camaro.jpg" alt="Silver Camaro" class="hero-image"> 
        </div> 

        <section class="content">
          <h2>Our Inventory</h2>
          <div class="vehicle-list"> 
            <figure>
              <img src="/images/vehicles/adventador.jpg" alt="Blue Lamborghini Adventador">
              <figcaption>Blue Lamborghini Adventador</figcaption>
            </figure>
            <figure>
              <img src="/images/vehicles/hummer.jpg" alt="Yellow Hummer">
              <figcaption>Yellow Hummer</figcaption>
            </figure>
          </div>
        </section>

        <section class="call-to-action">
          <h2>Contact Us</h2>
          <p>Schedule a test drive or learn more.</p>
          <a href="/contact" class="btn">Contact</a> <!-- Updated link -->
        </section>
        <script src="/js/script.js"></script>
      </main>
    </div> 
  </body>
</html>
