<!-- views/inventory/detail.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= vehicleHTML.title %></title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <div class="vehicle-detail">
        <%= vehicleHTML %>
    </div>
</body>
</html>